/* ===== RESET & GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #0f172a; /* dark navy */
  color: #e5e7eb; /* light gray */
  line-height: 1.6;
}
.container {
  width: 100%;
  max-width: 1140px; /* bisa 960px / 1200px juga */
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== HEADER / NAVBAR ===== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #020617;
  padding: 1rem 3rem;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1 rem;
  transition: color 0.3s ease;
}

.nav-menu li:hover {
  color: #38bdf8;
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.2);
  transform: scale(1.1);

}

.nav-menu li.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 4px;
}
.nav-menu li img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  color: #ffffff;
}

/* ===== MAIN CONTENT ===== */
main {
  margin-top: 30px;

}

/* ===== ABOUT ===== */
#about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-text {
  max-width: 500px;
}

.profile-image {
  width: 45-0px;
  object-fit: cover;
}

#about h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#about p {
  color: #cbd5f5;
}

/* ===== SKILLS ===== */
#skills {
  padding: 6rem 3rem;
  text-align: center;
  background: radial-gradient(circle at center, #2d3b55 0%, #1e293b 70%);
}

#skills h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container img {
  width: auto;
  height: 60px;
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.skills-container img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
}

.skills-left,
.skills-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.skills-left img,
.skills-right img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  padding: 15px;
  background-color: #00183d;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.skills-left img:hover,
.skills-right img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.2);
}

.skills-center img {
  width: 420px;
  object-fit: cover;
  border-radius: 50%;
  
}


/* ===== PROJECTS ===== */
#projects {
  padding: 6rem 3rem;
  text-align: center;
}

#projects h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.project-card {
  background-color: #020617;
  width: 280px;
  padding: 2rem;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.2);
}

.project-card h3 {
  margin-bottom: 0.5rem;
}

.project-card p {
  color: #94a3b8;
  font-size: 0.9rem;
}
.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* ===== CONTACT ===== */
#contact {
  padding: 6rem 3rem;
  text-align: center;
  background: radial-gradient(circle at center, #2d3b55 0%, #1e293b 70%);

}

#contact h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.contact-container {
  max-width: 500px;
  margin: 0 auto;
}

.contact-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  margin-bottom: 2rem;
}

.social-links li {
  margin: 0.5rem 0;
  display: inline-block;  margin-right: 1rem;
}

.social-links a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
}

.social-links a img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.social-links li:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.2);

}

blockquote {
  font-style: italic;
  color: #94a3b8;
}

/* ===== FOOTER ===== */
footer {
  background-color: #020617;
  padding: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: #64748b;
}